{% comment %}
  Template: PageFly Technical Support Tips
  Description: A landing page for sharing technical support tips for PageFly app
{% endcomment %}
{{ 'ss-ts-tips.css' | asset_url | stylesheet_tag }}
{% comment %}
  Template: PageFly Technical Support Tips
  Description: A landing page for sharing technical support tips for PageFly app
{% endcomment %}

<div class="pagefly-support-container">
  {% section 'pagefly-support-tips' %}
</div>

